@import "tailwindcss";

@theme {
  --color-brand-primary: #fee500;
  --font-sans: "Pretendard", "Inter", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-sans);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
