@import "tailwindcss";

@theme inline {
  --font-pretendard: var(--pretendard);
  --font-great-vibes: var(--great-vibes);
  --font-hahmlet: var(--hahmlet);
  --font-playfair-display: var(--playfair-display);
  --color-primary: #e69eb4;
}

:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-marquee {
  animation: marquee var(--marquee-duration) linear infinite;
}

.animate-marquee:hover,
.animate-marquee:active {
  animation-play-state: paused;
}
